<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25621826116-5jrooti5irnmmod6nph8p2ffnftg9omr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25621826116-5jrooti5irnmmod6nph8p2ffnftg9omr</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Q7ZttDcMHltEki1ChYV4-0uGFC21DUg</string>
	<key>GCM_SENDER_ID</key>
	<string>25621826116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bio</string>
	<key>PROJECT_ID</key>
	<string>bios-56a64</string>
	<key>STORAGE_BUCKET</key>
	<string>bios-56a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25621826116:ios:b9a1c7f3a3f05030a0ca11</string>
</dict>
</plist>